<html>
  <link rel="stylesheet" type="text/css" href="login.css">
<head>
</head>
<body>
  <div id="main"> 
    <form action="#">
      Username: <input id="username" type="text" name="username"><br>
      Password: <input id="password" type="password" name="password"><br><br>
      <input type="button" onclick="doLogin()" value="Submit">
    </form>

    <select id="sessions">
      <% sessions.each do |session| %>
        <option value="<%= session %>"><%=session%></option>
      <% end %>
    </select>
  </div>

  <script>
    function doLogin() {
      username = document.getElementById("username").value
      password = document.getElementById("password").value
      login(username, password)
    }
  </script>
</body>
</html>
