<html>
  <link rel="stylesheet" type="text/css" href="login.css">
<head>
</head>
<body>
  <div id="main"> 
    <div id="cell">
      <div id="content">
        <label>Username:</label><input id="username" type="text" name="username"><br>
        <label>Password:</label><input id="password" type="password" name="password"><br>
        <label>Pick a session:</label>
        <select id="sessions">
          <% sessions.each do |session| %>
            <option value="<%= session %>"><%= session %></option>
          <% end %>
        </select>

        <br/><br/>

        <input type="button" onclick="doLogin()" value="Login">
        
      </div>
    </div>
  </div>

  <div id="powerControls">
    <button id="power" onclick="shutdown()">Shutdown</button>
    <button id="rs" onclick="reboot()">Restart</button> 
  </div>

  <script>
    function doLogin() {
      username = document.getElementById("username").value
      password = document.getElementById("password").value
      login(username, password)
    }

    function clean() {
      document.getElementById("username").value = ""
      document.getElementById("password").value = ""
    }
  </script>
</body>
</html>
